/* Write your custom CSS here */


.entrepProcess {
    padding: 75px 0px 75px 0px;
    vertical-align: middle;
}

.imgCentre {

    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: auto;
    margin-top: -200px;
    /* Half the height */
    margin-left: -200px;
    /* Half the width */

}

@media screen and (max-width:770px) {
    .imgCentre {
        display: none; 

    
    }
}


@media (min-width:768px) {
    .page-header-fixed .page-container.container .page-header {
        width: 750px
    }
}

@media (min-width:992px) {
    .page-header-fixed .page-container.container .page-header {
        width: 970px
    }
}

@media (min-width:1200px) {
    .page-header-fixed .page-container.container .page-header {
        width: 1170px
    }
}


@media (min-width:768px) {
    .navbar-nav {
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding: 0
    }

    .page-header .navbar-nav>li>a>i {
        font-size: 14px;
        vertical-align: text-top
    }

    .page-header .navbar-nav>li>a>i[class^=icon-] {
        font-size: 19px;
        vertical-align: top
    }
}



@media (max-width:576px) {
    .login-box .login-body {
        width: 100% !important
    }

    .mailbox-options button {
        display: block;
        width: 100%;
        margin: 0 0 5px 0 !important
    }

    .mailbox-options {
        display: block !important
    }

    .mail-count {
        margin: 0 auto;
        display: block;
        text-align: center;
        width: auto
    }

    .mail-left-btn {
        float: left;
        display: inline-block;
        width: auto !important
    }

    .mail-right-btn {
        float: right;
        display: inline-block;
        width: auto !important
    }
}

@media (max-width:1200px) {
    .email-actions {
        margin-top: 20px
    }

    .dashboard-panel {
        height: auto
    }

    .login-box .login-body {
        width: 70% !important
    }

    .profile-header {
        margin-top: -60px
    }

    .profile-img {
        display: block;
        float: none !important
    }

    .profile-img img {
        margin: 0 auto;
        display: inherit;
        width: 100px !important;
        height: 100px !important;
        border-radius: 100px !important
    }

    .profile-name {
        display: block;
        float: none !important;
        text-align: center;
        margin: 0 !important
    }

    .profile-name h3 {
        color: #333 !important
    }

    .profile-header .profile-header-menu {
        display: block;
        float: none;
        margin: 0;
        text-align: center
    }

    .profile-header .profile-header-menu ul li {
        display: block;
        padding: 0;
        width: calc(100%/6);
        text-align: center
    }

    .profile-header .profile-header-menu ul li a {
        padding: 10px;
        text-align: center;
        height: auto !important
    }

    .profile-header .profile-header-menu ul li a.active,
    .profile-header .profile-header-menu ul li a:hover {
        color: #000
    }
}

@media (max-width:992px) {

    .error-info,
    .login-content {
        left: 0 !important;
        background: #fff;
        text-align: center
    }

    .error-text,
    .login-box {
        float: none !important;
        width: 100% !important;
        margin: 0 auto !important;
        height: auto
    }

    .login-box .login-body {
        float: none !important;
        width: 80% !important;
        margin: 0 auto
    }

    .mailbox-search {
        margin-top: 10px
    }

    .email-list {
        border-left: 0;
        border-right: 0;
        margin-bottom: 30px
    }
}
